/* Write your code here. */
body {
  margin: 0;
}

.bg-container {
  background-color: #0f172a;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.heading {
  font-size: 48px;
  color: #f8fafc;
  font-family: roboto;
  text-align: center;
}

.cart-container {
  width: 65%;
}

@media (max-width: 575px) {
  .heading {
    font-size: 32px;
  }
  .cart-container {
    width: 60%;
  }
}

.img {
  width: 50%;
}
